# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# SQLite database
db.sqlite3

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# Mac system files (optional)
.DS_Store

# Django migration cache
*/migrations/__pycache__/
